

.btn-primary {
    box-sizing: border-box;
    background:#000;
    border-color: #000;
}

#ir-al-fin {
    color: #ffffff;
    text-decoration: none
}

.body {
    background-color: rgb(135, 218, 233);
    margin: 0;
}

.img-fluid {
    width:100%;
    height: auto;
}

.background {
    text-align: center;
    background-size: cover;
    padding: 10px;
    height: 100vh;
    z-index: 1;  
}

.home {
    background-image: url("./imagenes/background.png");
    /*filter: blur(8px);*/
}

.Perfil {
    background-image: url("./imagenes/Foto\ de\ perfil.jpg");
    max-width: 510px;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    z-index: 10;
    margin: 100px 60em 20em 60em;
}



.img-flex {
    max-width: 330px;
    margin: 10px 0px 10px 0px;
    border-radius: 3px;
    
}


.custom-section {
    padding-top: 50px;
    padding-left: 50px;
    display:flex;
    /*flex-direction: row-reverse;*/
}

.cb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-text {
    font-family: Roboto;
    margin-left: 5em;
    font-size: 80%;
}

.accordion-button{
    background-color:rgb(43, 125, 233);
}

footer {
background-color:#000;
padding: 10px 10px;
color: rgb(231, 17, 17);
margin-top: 10px;
display: flex;
text-align: center;
}

#redes>img {
    width: 5%;
    margin-left: 17px;
}





@media only screen and (max-width:800px) {
    .body section{
        display: block;
        width: 100%;
    }
}